h1 {
	font-size:5em;
	font-weight:lighter;
	color:lime;
	padding-top:15%;
	font-family:'VT323' !important;
}

h2 {
	color:lime;
	font-family:'VT323' !important;
}

input[type='text'] {
	background:transparent !important;
	font-size:2em;
	line-height:2em;
	height:2em !important;
	border:2px solid lime !important;
	color:lime !important;
}

button {
	background:transparent;
	color:lime;
	border:2px solid lime;
	font-size:2em;
	padding:0px 20px 0px 20px;
	margin:0;
	height:2em;
	vertical-align:top;
	font-family:'VT323' !important;
	cursor:pointer;
	outline:none;
}

button:hover {
	background:lime;
	color:#000;
}
