html {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}

body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background:#000;
	color:lime !important;
	font-family:'VT323' !important;
}

form {
	margin-top:50px;
}

.output {
	font-size:2em;
	margin-top:25px;
	display:inline-block;
	width:50%;
	height:150px;
}
